


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header img {
    height: 40px;
    width: 120px;
}

header li {
    list-style: none;
    float: left;
    padding: 4px;
}

#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}